<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="admin/layout/base :: base"
>
  <th:block th:fragment="content">
    <div class="row">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Thương Hiệu</h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
              </a>
              <a class="close-link">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
			<form role="form" class="form-inline">
				<div class="row" style="margin-top: 15px;">
					<div class="form-group col-lg-4" style="margin-left: 340px;">
						<label for="roleInput">Màu Sắc</label>
						<input type="text" placeholder="" id="roleInput" class="form-control" style="width: 410px; margin-left: 9px;">
					</div>
					<div class="col-lg-4">
						<button type="button" class="btn btn-outline btn-primary dim"><i class="fa fa-plus"></i></button>
						<button type="button" class="btn btn-outline btn-success dim"><i class="fa fa-exchange"></i></button>
						<button type="button" class="btn btn-outline btn-warning  dim">
								<i class="fa fa-refresh"></i></button>
					</div>
				</div>
			</form>
		  </div>
        </div>
    </div>
    <div class="row col-lg-6" style="margin-left: 300px;">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Danh Sách Thương Hiệu</h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a class="dropdown-toggle" data-toggle="dropdown" href="">
                <i class="fa fa-wrench"></i>
              </a>
              <a class="close-link">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <th:block th:replace="admin/color/table :: table"></th:block>
          </div>
		  <th:block th:fragment="script">
			<script>
			console.log("")	
			</script>
		  </th:block>
        </div>
      </div>
  </th:block>
</html>
