<th:block th:fragment="table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Mã Màu</th>
        <th>Tên</th>
        <th>Hành Động</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item : ${colors}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.colorCode}"></td>
        <td th:text="${item.colorName}"></td>
        <td>
          <button class="btn btn-default dim" type="button">
            <i class="fa fa-info"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</th:block>
