<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="admin/layout/base :: base"
>
  <th:block th:fragment="content">
    <div class="row col-lg-6" style="margin-left: 300px">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Danh Sách Kích Cỡ</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
              <i class="fa fa-wrench"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <th:block th:replace="admin/size/table :: table"></th:block>
        </div>
        <th:block th:fragment="script">
          <script>
            console.log("");
          </script>
        </th:block>
      </div>
    </div>
  </th:block>
</html>
