<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="admin/layout/base :: base"
>
<th:block th:fragment="content">
    <div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Danh Sách Sản Phẩm</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-2 m-b-xs">
							<select class="input-sm form-control input-s-sm inline" id="statusFilter">
								<option value="">Chọn trạng thái</option>
								<option value="1">Đang Kinh Doanh</option>
								<option value="0">Ngừng Kinh Doanh</option>
							</select>
						</div>
						<div class="col-sm-3 m-b-xs">
							<div class="input-group"><input type="text" placeholder="Tìm Kiếm" class="input-sm form-control" id="searchInput">
								<span class="input-group-btn">
									<button type="button" class="btn btn-sm btn-primary" onclick="searchProduct(0)"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</div>
						<div class="col-sm-7">
							<span class="input-group-btn">
								<button
									type="button"
									class="btn btn-sm btn-primary pull-right"
									id="btnAdd"
									onclick="openAddModal()"
								>
									<i class="fa fa-plus-circle"></i> Thêm
								</button>
							</span>
						</div>
					</div>
					<hr>
					<div class="table-responsive" id="productTableContainer">
						<th:block th:replace="admin/product/table :: table"></th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" data-focus="false" style="padding-right: 15px;" data-backdrop="static"
     data-keyboard="false">
		<div class="modal-dialog" style="width: 1200px;	">
			<div class="modal-content animated bounceInRight">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
							class="sr-only">Close</span></button>
					<h4 class="modal-title" id="modalTitle">Modal title</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<form id="productForm" role="form">
							<div class="col-sm-6 b-r">
								<input type="hidden" id="productId" name="productId">
								<div class="form-group">
									<label>Mã SP</label>
										<input type="text" id="maSp" name="maSp" placeholder="{-Mã sản phẩm được tạo tự động có dạng : SP-XXX -}"
										class="form-control" style="border-radius: 6px;" readonly>
								</div>
								<div class="form-group">
									<label>Tên Sản Phẩm</label>
									<input type="text" id="tenSp" name="tenSp" placeholder="Nhập Tên Sản Phẩm"
										class="form-control" style="border-radius: 6px;">
								</div>
								<div class="form-group">
									<label>Danh Mục</label>
									<select id="danhMuc" name="danhMuc" class="form-control select2" style="width: 100%;">
										<option></option>
									</select>
								</div>
								<div class="form-group">
									<label>Thương Hiệu</label>
									<select id="thuongHieu" name="thuongHieu" class="form-control select2" style="width: 100%;">
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="">Ảnh Sản Phẩm</label>
									<div id="avatarDropzone" class="dropzone dz-clickable"></div>
									<input type="file" id="avatarInput" name="avatar" style="display:none;">
								</div>
								<div class="form-group">
									<label for="">Mô Tả</label>
									<textarea id="description" name="description" class="form-control" rows="3" style="resize: none;"></textarea>
								</div>
							</div>
							<div style="margin-right: 14px">
								<button id="btnUpdateProduct" class="btn btn-sm btn-success pull-right m-t-n-xs" type="button">
									<strong>Cập Nhật</strong>
								</button>
								<button id="btnAddProduct" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"
									style="margin-right:6px;">
									<strong>Thêm</strong>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:fragment="script">
		<script th:src="@{/js/admin/product.js}"></script>
	</th:block>
</th:block>
</html>
