<th:block th:fragment="table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Ảnh</th>
        <th>Mã Sản Phẩm</th>
        <th>Tên Sản Phẩm</th>
        <th>Thương Hiệu</th>
        <th>Danh Mục</th>
        <th>Mô Tả</th>
        <th>Trạng Thái</th>
        <th>Hành Động</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each=" item : ${listProducts}">
        <td th:text="${item.id}"></td>
        <td>
          <img th:src="@{${item.thumbnail}}" alt="Thumbnail" style="
             width: 50px;
             height: 50px;
             object-fit: cover;
             border-radius: 50%;
           " />
        </td>
        <td th:text="${item.productCode}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.brandName}"></td>
        <td th:text="${item.categoryName}"></td>
        <td th:text="${item.description}"></td>
        <td th:switch="${item.isActive}">
          <span th:case="true" class="badge badge-primary">Đang Kinh Doanh</span>
          <span th:case="false" class="badge badge-danger">Ngừng Kinh Doanh</span>
        </td>
        <td>
          <button class="btn btn-info dim" type="button" th:attr="data-id=${item.id}" th:title="'Thông tin và cập nhật'"
            onclick="handleDetailClick(this)">
            <i class="fa fa-eye"></i>
          </button>


          <button class="btn btn-warning dim" type="button" th:attr="data-id=${item.id}"
            th:title="'Thêm mới Sản Phẩm chi tiết'" onclick="handleVariantDetailClick (this)">
            <i class="fa fa-plus-square"></i>
          </button>


          <button th:id="'btn-status-' + ${item.id}"
            th:class="'btn ' + (${item.isActive} ? 'btn-danger dim' : 'btn-primary dim')"
            th:onclick="|toggleStatus( ${item.id}, ${item.isActive} )|"
            th:title="${item.isActive} ? 'Khóa sản phẩm' : 'Mở khóa sản phẩm'">
            <i th:class="${item.isActive} ? 'fa fa-lock' : 'fa fa-unlock'"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" th:if="${totalPages > 1}">
    <ul class="pagination">
      <li th:class="${currentPage == 0} ? 'disabled' : ''">
        <a th:if="${currentPage > 0}" href="#" th:onclick="'searchProduct(' + (${currentPage - 1}) + ')'">
          <i class="fa fa-angle-left"></i> Trước
        </a>
        <span th:if="${currentPage == 0}" class="disabled">
          <i class="fa fa-angle-left"></i> Trước
        </span>
      </li>

      <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
          th:class="${i == currentPage} ? 'active' : ''">
        <a href="#" th:onclick="'searchProduct(' + (${i}) + ')'" th:text="${i + 1}">1</a>
      </li>

      <li th:class="${currentPage == totalPages - 1} ? 'disabled' : ''">
        <a th:if="${currentPage < totalPages - 1}" href="#" th:onclick="'searchProduct(' + (${currentPage + 1}) + ')'">
          Sau <i class="fa fa-angle-right"></i>
        </a>
        <span th:if="${currentPage == totalPages - 1}" class="disabled">
          Sau <i class="fa fa-angle-right"></i>
        </span>
      </li>
    </ul>
    <p class="text-muted">
      Hiển thị trang <strong th:text="${currentPage + 1}">1</strong>
      / <strong th:text="${totalPages}">1</strong>
      (Tổng <strong th:text="${totalItems}">0</strong> sản phẩm)
    </p>
  </div>
</th:block>