<th:block th:fragment="table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Mã ĐH</th>
        <th>Mã KH</th>
        <th>Tên Khách Hàng</th>
        <th>SĐT</th>
        <th>Ngày Tạo</th>
        <th>Tổng Tiền</th>
        <th>Kênh Bán Hàng</th>
        <th>Hình Thức TT</th>
        <th>Trạng Thái ĐH</th>
        <th>Hành Động</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each=" item : ${orders}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.orderCode}"></td>
        <td th:text="${item.userCode}"></td>
        <td th:text="${item.customerName}"></td>
        <td th:text="${item.shippingPhone}"></td>
        <td th:text="${#temporals.format(item.orderDate,'dd/MM/YYYY')}"></td>
        <td th:text="${#numbers.formatDecimal(item.finalAmount, 0, 0)} + ' VNĐ'">
        <td th:switch="${item.orderType}">
          <span th:case="ONLINE" class="badge badge-success">Online</span>
          <span th:case="COUNTER" class="badge badge-warning">Tại Quầy</span>
        </td>
        <td th:switch="${item.paymentMethod}">
          <span th:case="CASH" class="badge badge-primary">Tiền Mặt</span>
          <span th:case="TRANSFER" class="badge badge-info">Chuyển Khoản</span>
        </td>
        <td th:text="${item.status}"></td>

        <td>
          <button class="btn btn-info  dim">
            <i th:class="'fa fa-pencil-square'"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="text-center" th:if="${totalPages > 1}">
    <ul class="pagination">
      <li th:class="${currentPage == 0} ? 'disabled' : ''">
        <a th:if="${currentPage > 0}" href="#" th:onclick="'searchOrer(' + (${currentPage - 1}) + ')'">
          <i class="fa fa-angle-left"></i> Trước
        </a>
        <span th:if="${currentPage == 0}" class="disabled">
          <i class="fa fa-angle-left"></i> Trước
        </span>
      </li>

      <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
          th:class="${i == currentPage} ? 'active' : ''">
        <a href="#" th:onclick="'searchOrer(' + (${i}) + ')'" th:text="${i + 1}">1</a>
      </li>

      <li th:class="${currentPage == totalPages - 1} ? 'disabled' : ''">
        <a th:if="${currentPage < totalPages - 1}" href="#" th:onclick="'searchOrer(' + (${currentPage + 1}) + ')'">
          Sau <i class="fa fa-angle-right"></i>
        </a>
        <span th:if="${currentPage == totalPages - 1}" class="disabled">
          Sau <i class="fa fa-angle-right"></i>
        </span>
      </li>
    </ul>
    <p class="text-muted">
      Hiển thị trang <strong th:text="${currentPage + 1}">1</strong>
      / <strong th:text="${totalPages}">1</strong>
      (Tổng <strong th:text="${totalItems}">0</strong> đơn hàng)
    </p>
  </div>
</th:block>