<th:block th:fragment="table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Ảnh</th>
        <th>Mã Sản Phẩm</th>
        <th>Tên Sản Phẩm</th>
        <th>Thương Hiệu</th>
        <th>Danh Mục</th>
        <th>Màu Sắc</th>
        <th>Kích Thước</th>
        <th>Giá</th>
        <th>Số Lượng</th>
        <th>Mô Tả</th>
        <th>Trạng Thái</th>
        <th>Hành Động</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each=" item : ${listProducts}">
        <td th:text="${item.id}">1</td>
        <td>
          <img
            th:if="${item.imageUrls != null and !item.imageUrls.isEmpty()}"
            th:src="${item.imageUrls.get(0)}"
            alt="Ảnh"
            width="60"
            height="60"
          />
          <span th:if="${item.imageUrls == null or item.imageUrls.isEmpty()}"
            >No Image</span
          >
        </td>
        <td th:text="${item.variantCode}">SP001</td>
        <td th:text="${item.productName}">Sản phẩm A</td>
        <td th:text="${item.brandName}">Thương hiệu A</td>
        <td th:text="${item.categoryName}">Danh mục A</td>
        <td th:text="${item.colorName}">Đỏ</td>
        <td th:text="${item.sizeName}">L</td>
        <td th:text="${item.price}">L</td>
        <td th:text="${item.quantity}">L</td>
        <td
          th:utext="${#strings.replace(item.productDescription, '\n', '<br/>')}"
        ></td>
        <td th:switch="${item.status}">
          <span th:case="true" class="badge badge-primary"
            >Đang Kinh Doanh</span
          >
          <span th:case="false" class="badge badge-danger"
            >Ngừng Kinh Doanh</span
          >
        </td>
        <td>
          <button
            class="btn btn-info dim"
            type="button"
            th:attr="data-id=${item.id}"
            th:title="'Thông tin và cập nhật'"
            onclick="handleDetailClick(this)"
          >
            <i class="fa fa-paste"></i>
          </button>
          <button
            th:id="'btn-status-' + ${item.id}"
            th:class="'btn ' + (${item.status} ? 'btn-danger dim' : 'btn-primary dim')"
            th:onclick="|toggleStatus( ${item.id}, ${item.status} )|"
            th:title="${item.status} ? 'Khóa sản phẩm' : 'Mở khóa sản phẩm'"
          >
            <i th:class="${item.status} ? 'fa fa-lock' : 'fa fa-unlock'"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div
    class="dataTables_paginate paging_simple_numbers"
    id="DataTables_Table_0_paginate"
    th:if="${totalPages > 0}"
    style="text-align: right"
  >
    <ul
      class="pagination"
      id="paginationContainer"
      th:attr="data-total-pages=${totalPages}, data-current-page=${currentPage}"
    >
      <!-- Nút Previous -->
      <li
        class="paginate_button previous"
        th:classappend="${currentPage == 0} ? ' disabled'"
      >
        <a
          href="#"
          tabindex="0"
          th:onclick="'searchProductVariants(' + (${currentPage - 1}) + ')'"
        >
          Previous
        </a>
      </li>

      <!-- Nút số trang 1..totalPages -->
      <li
        class="paginate_button"
        th:each="i : ${#numbers.sequence(1, totalPages)}"
        th:classappend="${i - 1 == currentPage} ? ' active'"
      >
        <a
          href="#"
          tabindex="0"
          th:text="${i}"
          th:onclick="'searchProductVariants(' + (${i} - 1) + ')'"
        >
        </a>
      </li>

      <!-- Nút Next -->
      <li class="paginate_button next" th:if="${currentPage + 1 < totalPages}">
        <a
          href="#"
          tabindex="0"
          th:onclick="'searchProductVariants(' + (${currentPage + 1}) + ')'"
        >
          Next
        </a>
      </li>

      <li
        class="paginate_button next disabled"
        th:unless="${currentPage + 1 < totalPages}"
      >
        <a
          href="#"
          tabindex="0"
          th:onclick="'searchProductVariants(' + (${totalPages - 1}) + ')'"
        >
          Next
        </a>
      </li>
    </ul>
  </div>
</th:block>
