<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
 th:replace="shop/fragments/base :: base"
>
  <section class="container features" th:fragment="content">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <div class="navy-line"></div>
          <h1 class="text-center">
            Giỏ Hàng<br/>
          </h1>
          <div></div>
          <div class="col-md-9">
            <div class="ibox">
              <div class="ibox-title">
                <span class="pull-right">(<strong>5</strong>) items</span>
                <h5>Sản Phẩm</h5>
              </div>
              <div class="ibox-content">
                <div class="table-responsive">
                  <table class="table shoping-cart-table">
                    <tbody>
					</tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ibox">
              <div class="ibox-title">
                <h5>Tổng Cộng</h5>
              </div>
              <div class="ibox-content">
                <span>Tổng Tiền </span>
				<h2 class="font-bold cart-summary-total">$0,00</h2>
				<hr />
				<span class="text-muted small">
					<!-- *For United States, France and Germany applicable sales tax will be applied -->
				</span>
                <div class="m-t-sm">
                  <div class="btn-group">
                    <a href="#" class="btn btn-primary btn-sm cart"
                      ><i class="fa fa-shopping-cart"></i> Thanh Toán</a
                    >
                    <a href="#" class="btn btn-white btn-sm">Hủy</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</html>
