<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="shop/fragments/base :: base">
<section class="container features" th:fragment="content">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="navy-line"></div>
    <h1 class="text-center">
      <b>Giỏ Hàng</b><br />
    </h1>
    <div class="navy-line"></div>
    <div class="row m-t-md">
      <div class="col-lg-9">
        <div class="ibox">
          <div class="ibox-title">
            <span class="pull-right">(<strong>5</strong>) sản phẩm</span>
            <h5>Sản Phẩm</h5>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table shoping-cart-table">
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Tổng Cộng</h5>
          </div>
          <div class="ibox-content">
            <span>Tổng Tiền </span>
            <h2 class="font-bold cart-summary-total">$0,00</h2>
            <hr />
            <span class="text-muted small">
            </span>
            <div class="m-t-sm">
              <div class="btn-group">
                <a th:href="@{/customer/auth/(redirectUrl='/checkout')}" class="btn btn-primary cart"
                  ><i class="fa fa-shopping-cart"></i> Đặt Hàng
                </a>
                <a th:href="@{/}" class="btn btn-white btn-sm">Trang Chủ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

</html>